/* General rules */
* {
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
	padding: 0;
	border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
h1, h2, h3, p, ul, li, div, img {
    margin: 0;
    padding: 0;
}
h1, h2, h3, p {
    padding: 5px 0px;
}
/* End of General rules */
h1 {
    font-size: 2em;
    font-family: Times New Roman; Times, serif;
    text-transform: uppercase;
}
.clear {
    clear: both;
}
#content {
    padding: 10px;
}
#showcase {
    min-height: 500px;
}
#showcase .bg-image {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url("https://images.pexels.com/photos/739285/pexels-photo-739285.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
}
#showcase h1 {
    padding-top: 6em;
    padding-bottom: 0
}
#showcase h1, 
#showcase p {
    text-align: center;
    color: #fff;
}
main {
    height: 100%;
    background-color: #dcdcdc;
    padding: 0px; 
    margin: 0px;
}
.box {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #808080;
    background-color: #fff;
}
.featured {
    height: 500px;
    background-image: url("https://images.pexels.com/photos/654/clouds-cloudy-agriculture-farm.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.main {
    padding: 10px; 
}
.main p {
    line-height: 1.6em;
}
#section-c {
    background-color: #fff;
}
.small-img {
    height: 500px;
    background-image: url("https://images.pexels.com/photos/758742/pexels-photo-758742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.footer {
    padding: 5px;
    width: 50%;
    float: right;
    text-align: center;
    border-top: 1px solid #808080;
}
/* Media Queries */
@media(min-width: 700px) {
    .float {
        float: right;
        width: 33.3%;
    }
    .featured img {
        height: 600px;
        width: auto;
    }
    #showcase h1 {
        font-size: 3.5em;
        padding-top: 3.5em;
}
}
